*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#eef5ff;
}

header{
background:#0066ff;
color:white;
padding:25px;
text-align:center;
}

header h1{
color:purple;
}

.container{
width:95%;
max-width:1100px;
margin:25px auto;
}

.live-card{
background:white;
padding:20px;
margin-bottom:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.1);
}

.live-card h3{
color:#0066ff;
margin-bottom:10px;
}

.live-card p{
margin-bottom:10px;
}

.live-card a{
display:inline-block;
margin-bottom:15px;
color:#0066ff;
text-decoration:none;
font-weight:bold;
}

.buttons{
display:flex;
gap:10px;
flex-wrap:wrap;
}

.buttons button{
flex:1;
padding:15px;
border:none;
border-radius:8px;
font-size:16px;
cursor:pointer;
color:white;
}

.approve{
background:green;
}

.reject{
background:red;
}

.stop{
background:#ff9800;
}

.approve:hover{
background:#006400;
}

.reject:hover{
background:#8b0000;
}

.stop:hover{
background:#e68900;
}
