*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
}

body{
background:#eef5ff;
}

header{
background:#0066ff;
color:white;
text-align:center;
padding:25px;
}

header h1{
color:purple;
}

.container{
width:95%;
max-width:1200px;
margin:25px auto;
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
}

.editor,
.articles{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 0 10px rgba(0,0,0,.1);
}

input,
textarea{
width:100%;
padding:12px;
margin-bottom:15px;
border:1px solid #ccc;
border-radius:8px;
}

button{
width:100%;
padding:15px;
background:#0066ff;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
}

button:hover{
background:purple;
}

.article-card{
background:#f5f5f5;
padding:15px;
border-radius:8px;
margin-bottom:15px;
}

.articleStatus{
font-weight:bold;
color:#0066ff;
margin:10px 0;
}

@media(max-width:768px){

.container{

grid-template-columns:1fr;

}

}
